.bootstrap-select, .addBottom{
    margin-bottom: 20px;
}

.row-margin{
    margin-right: 15px;
    margin-left: 15px;
}

/*

.linkCss .row{
  margin-bottom: 10px;
}

.linkCss .row .btm{
  border-radius: 4px;
  padding-bottom: 10px;
}

.mh-widget-title {
    border-color: #315a9c;
}

.mh-widget-title {
    font-size: 16px;
    font-size: 1rem;
    padding-bottom: 5px;
    border-bottom: 3px solid #315a9c;
}

.mh-widget-title {
    color: #315a9c !important;
    text-align: center !important;
    border-bottom-width: 2px !important;
    font-weight: 600 !important;
}

.mh-widget-title {
    position: relative;
    font-size: 14px;
    font-size: 1.575rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

*/

